<h1>Autenticacion de Usuarios</h1>

<%= link_to "Iniciar Sesion", new_user_session_path %>
<%= link_to "Crear Cuenta", new_user_registration_path %>
<%= link_to "Cerrar Sesion", destroy_user_session_path,method: :delete %>
